{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'website/blueprint/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'website/blueprint/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'website/blueprint/assets/css/templatemo-finance-business.css' %}">
    <link rel="stylesheet" href="{% static 'website/blueprint/assets/css/owl.css' %}">

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <li><a><i class="fa fa-clock-o"></i>Mon-Fri 7am-5pm</a></li>
              <li><a href="tel:1(626)410-5970"><i class="fa fa-phone"></i>626.410.5970</a></li>
              <li><a href="mailto:99cblueprint@gmail.com"><i class="fa fa-envelope"></i>99cblueprint@gmail.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>99¢ Blueprint</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Visit Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>welcome to</h6>
                  <h4>99¢ Blueprint</h4>
                  <p>♣ We are your reliable construction drawing printing resource.<br>♣ 1 - Hour service GUARANTEED!<br>♣ Scan, Copy, Same Day Delivery Available</p>
                  <a href="tel:1(626)410-5970" class="filled-button">CALL NOW</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Got files to print?</h4>
            <span>Send you PDF plans or Dropbox link via Email to us: 99cblueprint@gmail.com</span>
          </div>
          <div class="col-md-4">
            <a href="mailto:99cblueprint@gmail.com" class="border-button">EMAIL US</a>
          </div>
        </div>
      </div>
    </div>

  <section id="pricing">
    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Competitive <em>Pricing</em></h2>
              <span>No one beats our price!</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="assets/images/service_01.jpg" alt="">
              <div class="down-content">
              	<center><h4>SCAN</h4>
                <p>24*36, $2.00 per page<br>30*42, $2.00 per page<br>36*48, $2.00 per page<br><br>Color & B/W</p></center>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="assets/images/service_02.jpg" alt="">
              <div class="down-content">
                <center><h4>PRINT</h4>
                <p>24*36, $1.00 per page<br>30*42, $1.50 per page<br>36*48, $2.00 per page<br><br>B/W Only</p></center>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="assets/images/service_03.jpg" alt="">
              <div class="down-content">
                <center><h4>COPY</h4>
                <p>24*36, $3.00 per page<br>30*42, $3.50 per page<br>36*48, $4.00 per page<br><br>B/W Only</p></center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="more-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <center><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13218.344851799558!2d-117.5784289!3d34.0801201!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x63fe54468ca88d08!2s99%C2%A2%20Blueprint!5e0!3m2!1sen!2sus!4v1611292460527!5m2!1sen!2sus" width="340" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></center>
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Visit Us</span>
                    <h2>99¢ <em>Blueprint</em></h2>
                    <p><b>Address</b><br>10373 Trademark St. Ste i<br>Rancho Cucamonga, CA 91730<br><b>Email</b><br>99cblueprint@gmail.com<br><b>Office Phone</b><br><a href="tel:1(626)410-5970">626.410.5970<br></a><b>Hours<br></b>Mon - Fri. 7am-5pm<br>Sat & Sun. By App.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <br/><br/><br/>
    
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <p>Copyright &copy; 2021 - <a rel="nofollow noopener" href="" target="_blank">99¢ Blueprint</a></p>
          </div>
        </div>
      </div>
    </div>

    	<!-- Bootstrap core JavaScript -->
    	<script src="{% static 'website/blueprint/vendor/jquery/jquery.min.js' %}"></script>
    	<script src="{% static 'website/blueprint/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'website/blueprint/assets/js/custom.js' %}"></script>
    <script src="{% static 'website/blueprint/assets/js/owl.js' %}"></script>
    <script src="{% static 'website/blueprint/assets/js/slick.js' %}"></script>
    <script src="{% static 'website/blueprint/assets/js/accordions.js' %}"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

</html>


{% endblock %}