{% extends 'base.html' %}
{% load static %}
{% block content %}


<br><br>
<div class="container">
<center>

	<table class="table table-bordered border-dark table table-secondary table-sm">

  	  <thead>
    	<tr>
      	  <th colspan="4"><center><p class="fw-bolder"><h1>超级追股计算工具</h1></p></center></th>
    	</tr>

    	<tr class="table-active">
      	  <td colspan="4"></td>
    	</tr>
  	  </thead>

  	  <tbody>
    	<tr>
    	  <th scope="row"><center>1</center></th>
      	  <th colspan="3"><center><b>输入当前持有平均价</b></center></th>
    	</tr>

    	<tr class="table-active">
    	  <th scope="row" class="align-middle"><center>2</center></th>
      	  <td colspan="3"><center>
      	  	<div class="input-group mb-3">
  			<span class="input-group-text">$</span>
 			<input type="text" class="form-control" id="aa">
			</center></div>
      	  </td>
    	</tr>

    	<tr>
    	  <th scope="row"><center>3</center></th>
      	  <th colspan="3"><center><b>输入已投资金额</b></center></th>
    	</tr>

    	<tr class="table-active">
    	  <th scope="row" class="align-middle"><center>4</center></th>
      	  <td colspan="3"><center>
      	  	<div class="input-group mb-3">
  			<span class="input-group-text">$</span>
 			<input type="text" class="form-control" id="bb">
			</center></div>
    	</tr>

    	<tr>
    	  <th scope="row"><center>5</center></th>
      	  <th scope="row"><center><b>目标平均价</b></center></th>
      	  <th scope="row"><center><b>目标平均价</b></center></th>
      	  <th scope="row"><center><b>目标买入价</b></center></th>
    	</tr>

    	<tr class="table-active">
    	  <th scope="row" class="align-middle"><center>6</center></th>
      	  <td><center>
      	  	<div class="input-group mb-3">
  			<span class="input-group-text">$</span>
 			<input type="text" class="form-control" id="cc">
			</center></div>
      	  <td><center>
      	  	<div class="input-group mb-3">
  			<span class="input-group-text">$</span>
 			<input type="text" class="form-control" id="dd">
			</center></div>
      	  <td><center>
      	  	<div class="input-group mb-3">
  			<span class="input-group-text">$</span>
 			<input type="text" class="form-control" id="ee">
			</center></div>
    	</tr>

    	<tr>
    	  <th scope="row"><center>7</center></th>
      	  <th scope="row"><center><b>目标投资额</b></center></th>
      	  <th scope="row"><center><b>目标入手价</b></center></th>
      	  <th scope="row"><center><b>目标投资额</b></center></th>
    	</tr>

    	<tr class="table-active">
    	  <th scope="row" class="align-middle"><center>8</center></th>
      	  <td><center>
      	  	<div class="input-group mb-3">
  			<span class="input-group-text">$</span>
 			<input type="text" class="form-control" id="ff">
			</center></div>
      	  <td><center>
      	  	<div class="input-group mb-3">
  			<span class="input-group-text">$</span>
 			<input type="text" class="form-control" id="gg">
			</center></div>
      	  <td><center>
      	  	<div class="input-group mb-3">
  			<span class="input-group-text">$</span>
 			<input type="text" class="form-control" id="hh">
			</center></div>
    	</tr>

    	<tr>
    	  <th scope="row"><center>9</center></th>
      	  <td><center><button>入手价</button></center></td>
      	  <td><center><button>投资额</button></center></td>
      	  <td><center><button>新均价</button></center></td>
    	</tr>

    	<tr class="table-active">
    	  <th scope="row" class="align-middle"><center>10</center></th>
      	  <td><center><h1>Bravo!</h1></center></td>
      	  <td><center><h1>Bravo!</h1></center></td>
      	  <td><center><h1>Bravo!</h1></center></td>
    	</tr>
  	  </tbody>
	</table>
</center>
</div>


{% endblock %}